<div class="card">

   <h2 [ngStyle]="{
   color: card.title.length < 5 ? 'blue' : 'green',
   fontWeight: card.title.length < 7 ? 'normal' : 'bold'
   }">{{card.title}}</h2>

   <!-- <p class="text" [ngClass]="{
      blue: textColor === 'blue',
      green: textColor === 'green',
      red: textColor === 'red'
   }">{{text}}</p> -->

   <p class="text" [class.blue]="textColor === 'blue'" [class.green]="textColor === 'green'"
      [class.red]="textColor === 'red'">{{card.text}}</p>


   <div class="buttons">
      <button (click)="textColor = 'blue'">Set blue</button>
      <button (click)="textColor = 'green'">Set green</button>
      <button (click)="textColor = 'red'">Set red</button>
   </div>

   <div class="buttons">
      <button (click)="changeTitle()">Change title</button>
      <button (click)="card.title = 'inline title'">Change title inline</button>
   </div>
   <!-- <div>
      <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title">
   </div> -->
   <div>
      <input type="text" [(ngModel)]="card.title" (ngModelChange)="changeHandler()">
   </div>


</div>