<div class="card">
   <h2>{{title}}</h2>
   <p>{{text}}</p>
   <div>
      <button (click)='changeTitle()'>Change title</button>
   </div>
   <button>test</button>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illum aspernatur, iste quia nemo non velit illo
      incidunt porro sit sequi doloremque perferendis at quaerat. Facere aliquid expedita cupiditate magni.
      Beatae esse, aperiam itaque dolor vel eaque delectus ipsa animi, corrupti tempore odio sequi sunt recusandae
      deleniti labore natus, voluptatem error ab quos quisquam! Labore ex rem modi neque dolorum.</p>
   <textarea>test</textarea>
</div>